# LeetCode SQL Solutions

## Table of Contents
1. Problem 1: [196. Delete duplication Email](https://leetcode.com/problems/delete-duplicate-emails/?envType=study-plan-v2&envId=top-sql-50)

# 196. Delete duplication Email

Table: Person

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| email       | varchar |

- `id` is the primary key (column with unique values) for this table.
- Each row of this table contains an email. The emails will not contain uppercase letters.

## Problem Statement

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

> **Note for SQL users**: You are supposed to write a `DELETE` statement and not a `SELECT` one.

> **Note for Pandas users**: You are supposed to modify `Person` in place.

After running your script, the answer shown is the `Person` table. The driver will first compile and run your piece of code and then show the `Person` table. The final order of the `Person` table does not matter.

## Example

### Input: 
`Person` table:

| id | email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |

### Output: 
| id | email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |

**Explanation**: `john@example.com` is repeated two times. We keep the row with the smallest id = 1.

First I tried this solution:

### SQL Solution

```sql
SELECT a.name, b.salary
FROM Employee a
LEFT JOIN Salary b ON a.id = b.emp_id;

This SQL query result in an error due to the use of the SELECT subquery within a DELETE statement, as many database systems do not allow modifying a table (DELETE in this case) while also selecting from the same table in a subquery (due to issues like possible data modification conflicts).

Here are two common issues:

- Subquery modification restriction: Some SQL engines (e.g., MySQL) do not allow selecting from the same table that yo are trying to modify in the DELETE query.

- Efficient deletion: Even if the query works in some databases, it is not necessarily optimized for performance, especially if you have a large dataset.

This can be resolved as follows:

```sql
with helper as
(select min(id) as min_id from Person group by email)
delete from Person
where id not in (select min_id from helper)